.grid{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: calc(100% - 200px);
}

.node {
  height: 3.3%;
  width: calc(2% - 2px);
  border: solid lightgrey 1px;
}
.node.start{
  background: green;
}
.node.end{
  background: red;
}
.node.obstacle{
  background: lightgrey;
}
.node.path{
  background: blue;
}
