#app{
  display: flex;
  justify-content: center;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  overflow: hidden;
  padding:  20px;
  margin: 0;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 250px);
}

.node {
  height: calc(3.333% - 2px);
  width: calc(2% - 2px);
  border: solid lightgrey 1px;
}
.node.start{
  background: green;
}
.node.end{
  background: red;
}
.node.obstacle{
  background: lightgrey;
}
.node.path{
  background: blue;
}
.node.block{
  background: #4b4b4b;
}

/* Info Box */
.info-box {
 position: absolute;
 left: 20px;
 bottom: 20px;
 height: fit-content;
 padding:  20px;
 background: #131313a1;
 border-radius: 20px;
 color: white;
}
.info-box p {
 margin: .5em 0;
}
.info-box ul {
 display: flex;
 flex-wrap: wrap;
 padding-left: 1em;
 margin: .5em 0;
}
.info-box ul li {
 width: 50%;
}
